.header {
    overflow: hidden;
    background-color: #7A04EB;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    padding: 20px 10px;
    height: 126px;
    align-items: center;
  }


  .framelogo {
    position: absolute;
    width: 407px;
    height: 100px;
    left: 21px;
    top: 10px;
  }


  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
  }
  
  .framelogo b{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: center;
    align-content: center;
    width: 220px;
    height: 32px;
    left: 0px;
    top: 53px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;

    color: #000000;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }


  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  

  .header a:hover {
    background-color: #ddd;
    color: black;
    border: 4px solid #000000;
  }
  
  
  .header a.active {
    top: 4px;
    background-color: #ddd;
    color: black;
    border: 4px solid #000000;

  }
  
 
  .header-right {
    float: right;
  }
  

  .logo{
    position: absolute;
    width: 187px;
    height: 36.38px;
    left: 13px;
    top: 13.19px;
    transform: rotate(-0.06deg);
  }
  
  .logo-parte-roxa{
    box-sizing: border-box;
  
  position: absolute;
  width: 169.56px;
  height: 36.04px;
  left: 30.44px;
  top: 13.17px;
  
  background: #7A04EB;
  border: 2px solid #000000;
  transform: matrix(1, 0, 0, 1, 0, 0);
  }
  
  .logo-parte-branca{
    position: absolute;
  width: 183.34px;
  height: 23.74px;
  left: 13.01px;
  top: 19.45px;
  
  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(-0.06deg);
  }
  
  .logo-texto{
    position: absolute;
  width: 179.96px;
  height: 28.89px;
  left: 13.13px;
  top: 16.89px;
  
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  
  color: #000000;
  
  }

.background{

    position: absolute;
    top:0%;
    width: 100%;
    height: 5000px;
    background-size: cover;
    background-image: url(./BG_HOME.png);
    z-index:-10;
}

.containerQuadradoeCrash{

  position:relative;
  width: 100%;
  height: auto;
  margin-top: 80px;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: center;

  
  

}

.quadradoCinza{
 
 
  
  margin-top: 3%;
  width:641px;
  height:245px;
  background-color: #9C9C9C;
  border-radius: 30px;
  border-width: medium;
  border-color:#000000; 
  border-style: solid;
  z-index: 5;
  margin-left: -10%;
  margin-right: 10%;
  left: center;
  text-align: center;
  font-family: 'Iceland', 'Times New Roman', serif;
  font-size: 30px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  line-height: 2em;
  letter-spacing: 2px; word-spacing: 1px;
 
 

  }

/* .quadradoCinza:after{

 
  margin-left: auto;
  margin-right: auto;
  left: center;
  
  text-align: center;
  font-family: Iceland, 'Times New Roman', serif;
  font-size: 25px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  
  font-size: 25px; line-height: 2.5em;
  letter-spacing: 2px; word-spacing: 3.5px; 
  

} */

 .crash4{


  position:relative;
  margin-left: -11%;
  width:450px;
  height:410px;
  background-color: #7A04EB;
  background-repeat: no-repeat;
  background-image: url(./Crash_Bandicoot_4.png);
  background-position: 45% 20%;
  background-size: cover;
  border-radius: 1000px;
  border-width: medium;
  border-color:#000000; 
  border-style: solid; 
  


 } 

 .container2RetanguloeJogos{

  position:relative;
  width: 100%;
  height: auto;
  margin-top: 120px;
  background-color: rgb(255, 0, 21);



 }

 .retanguloCinza1{

  position:relative;
  margin-left: auto;
  margin-right:auto;
  width:90%;
  height:55px;
  background-color: #9C9C9C;
  border-radius: 5px;
  border-width: thick;
  border-color:#000000; 
  border-style: solid;
  text-align: center;
  margin: auto;
  font-family: 'Iceland', 'Times New Roman', serif;
  font-size: 35px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  letter-spacing: 8px; word-spacing: 5px; 

  } 

 /*.retanguloCinza1:after{

  content: "Os maiores sucessos estão aqui!!";
  text-align: center;
  margin: auto;
  font-family: 'Iceland', 'Times New Roman', serif;
  font-size: 35px;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  letter-spacing: 8px; word-spacing: 5px; 

 }*/

 .containerRetangulosJogosHome{
  
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 1;
    margin-top: 80px;
  

 }

  .retanguloJogo1{

  
    width:200px;
    height:255px;
    background-color: white;
    border-radius: 5px;
    z-index: 2;
    border-width: medium;
    border-color:#000000; 
    border-style: solid;
    background-image: url(./cs-banner.png);
   
    background-position: 20% 10%;
    background-size: 230%;

  
    } 


  .retanguloJogo2{

      
    
      width:200px;
      height:255px;
      background-color: white;
      border-radius: 5px;
      z-index: 2;
      border-width: medium;
      border-color:#000000; 
      border-style: solid;
      background-image: url(./valorant-banner.jpg);
      background-position: 45% 10%;
      background-size: 150%;
    
      } 

  .retanguloJogo3{
       
 
        width:200px;
        height:255px;
        background-color: white;
        border-radius: 5px;
        z-index: 2;
        border-width: medium;
        border-color:#000000; 
        border-style: solid;
        background-image: url(./lol\ banner.jpg);
        background-position: 45% 80%;
        background-size: 110%;
      
        } 

  .retanguloJogo4{

          

          width:200px;
          height:255px;
          background-color: white;
          border-radius: 5px;
          z-index: 2;
          border-width: medium;
          border-color:#000000; 
          border-style: solid;
          background-image: url(./fortnite-banner.jpg);
          background-position: 50% 10%;
          background-size: 250%;
        
          } 

  .containerFarCryeJogos{

    background-color: #000000;
    margin-top: 50px;

  }

  .elipseFarCry{

            
            
            margin:auto;
            width:600px;
            height:410px;
            background-position: 45% 20%;
            background-size: 170%;
            border-radius: 75%; 
            border-width: medium;
            border-color:#000000; 
            border-style: solid; 
            background-image: url(./far_cry_6.jpg);
            background-position: 15% 10%;
            background-size: 150%;
          
          
           } 

  .containerJogosDebaixo{

    background-color: rgb(69, 168, 115);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 1;
    margin-top: 50px;


  }


  .quadradoMenorJogoDireita{

    
    width:200px;
    height:255px;

    border-radius: 5px;
    z-index: 2;
    border-width: medium;
    border-color:#000000; 
    border-style: solid;
    background-image: url(./cyberpunk.png);
    background-position: 10% 10px;
    background-size: 110%;

  }   

  .quadradoMenorJogoEsquerda{

  
    width:200px;
    height:255px;
    border-radius: 5px;
    z-index: 2;
    border-width: medium;
    border-color:#000000; 
    border-style: solid;
    background-image: url(./red-dead-redemption.jpg);
    background-position: 45% 10%;
    background-size: 110%;
  } 

 
  .quadradoMenorJogoAcima{

    width:200px;
    height:255px;

    border-radius: 5px;
    z-index: 2;
    border-width: medium;
    border-color:#000000; 
    border-style: solid;
    background-image: url(./horizon-zero-down.webp);
    background-position: 45% 10%;
    background-size: 110%;
  } 

  .quadradoMenorJogoAbaixo{

    width:200px;
    height:255px;
 
    border-radius: 5px;
    z-index: 2;
    border-width: medium;
    border-color:#000000; 
    border-style: solid;
    background-image: url(./ultrakill.jpg);
    background-position: 45% 10%;
    background-size: 110%;
  } 

 .quadradoRoxoCentral{

    position: relative;
    margin:auto;
    margin-top: 100px;
    width:625px;
    height:600px;
    background-color: #7A04EB;
    background-image: url(./fundoQuadradoRoxo.png);
    background-position: 10% 90%;
    background-size: 105%;
    border-radius: 30px;
    border-width: medium;
    border-color:#000000; 
    border-style: solid;

  }

  .containerEscolhaDePlanos{

    background-color: cornflowerblue;
    margin-top: 100px;



  }

  .SelecioneOPlano{
    background-color: orange;
    width: 32%;
    margin: auto;
  }

  .h1{
    width: fit-content;
    margin:auto;
}


.selecione{
  width: fit-content;
  align-items: center;
}


.container_planos{
  align-items: center;
  justify-content: center;
}

  .planos{

    background-color: #901515;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

  .planoStarter{


    top: 3500px;
    width:180px;
    height:auto;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    border-width: medium;
    border-color:#000000; 
    border-style: solid;
  
    background-position: 45% 10%;
    background-size: 100%;


  }

  .planoMedium{


 
    top: 3500px;
    width:180px;
    height:auto;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    border-width: medium;
    border-color:#000000; 
    border-style: solid;
    
    background-position: 45% 10%;
    background-size: 105%;


  }

  .planoPro{


   
    top: 3500px;
    width:180px;
    height:auto;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    border-width: medium;
    border-color:#000000; 
    border-style: solid;
    
    background-position: 45% 10%;
    background-size: 105%;


  }

  .planoUltimate{


  
    top: 3500px;
    width:180px;
    height:auto;
    background-color: white;
    border-radius: 15px;
    z-index: 2;
    border-width: medium;
    border-color:#000000; 
    border-style: solid;
    
    background-position: 70% 80%;
    background-size: 100%;


  }


  .quadradoFeedbacks{
    border-radius: 25px;
    background-color: #fff;
    width: 1500px;
    height: 400px;
    margin:auto;
    margin-top: 100px;


  }

  
  .tituloDoFeedback{

    background-color: darksalmon;
    width: 37%;
    margin:auto;
    font-family:'Iceland', sans-serif;

  }


  .containerdosFeedbacks{

    height: inherit;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    margin: auto;
    margin-top: 50px;
    

  }



  .feedback1{

    
    height:180px;
    width:150px;
    background-color: red;
    border-radius: 50px;
    background-image: url(./Feedback1.png);
    z-index: 3;
    border-width: medium;
    border-color:#7A04EB; 
    border-style: solid;
    background-position: 45% 40%;
    background-size: 130%;


  }

  .feedback2{

    height:180px;
    width:150px;
    background-color: rgb(217, 255, 0);
    border-radius: 50px;
    z-index: 3;
    border-width: medium;
    border-color:#7A04EB; 
    border-style: solid;
    background-image: url(./Feedback2.png);
    background-position: 50% 30%;
    background-size: 120%;

  }

  .feedback3{

    height:180px;
    width:150px;
    background-color: rgb(0, 94, 255);
    border-radius: 50px;
    z-index: 3;
    border-width: medium;
    border-color:#7A04EB;  
    border-style: solid;
    background-image: url(./Feedback3.png);
    background-position: 50% 10%;
    background-size: 120%;

  }

  .feedback4{

    height:180px;
    width:150px;
    background-color: rgb(0, 255, 187);
    border-radius: 50px;
    z-index: 3;
    border-width: medium;
    border-color:#7A04EB; 
    border-style: solid;
    background-image: url(./Feedback4.png);
    background-position: 50% 15%;
    background-size: 120%;


  }

  .feedback5{

    
    height:180px;
    width:150px;
    background-color: rgb(0, 255, 145);
    border-radius: 50px;
    z-index: 3;
    border-width: medium;
    border-color:#7A04EB; 
    border-style: solid;
    background-image: url(./Feedback5.png);
    background-position: 50% 15%;
    background-size: 120%;

  }

  .retânguloCinzaAbaixo{


  
    margin:auto;

    margin-top: 100px;
    width:900px;
    height:300px;
    background-color: #9C9C9C;
    background-image: url(./EntreNesseUniverso.png);
    background-size: 100%;
    border-radius: 5px;
    z-index: 2;
    border-width: thick;
    border-color:#000000; 
    border-style: solid;

  }

  .espacoAbaixoNulo{
    height: 500px;
  }


  @media  (max-width:900px) {
    .containerRetangulosJogosHome{
      flex-direction: column;
    }

    .containerJogosDebaixo{
      flex-direction: column;
    }

    .containerQuadradoeCrash{
      flex-direction: column;
    }

    .containerEscolhaDePlanos{
      flex-direction: column;
    }
    
    
  }

  @media  (max-width:1400px){

    .quadradoFeedbacks{
      height: auto;
    }
    .containerdosFeedbacks{
      flex-direction: column;
      height: auto;
    }
    .planos{
      flex-direction: column;
      justify-content: center;
    }

  }