.background_planos{
    background: linear-gradient(180deg, rgba(104, 8, 237, 0.572344) 2.99%, rgba(245, 189, 240, 0.5) 22.81%, rgba(202, 174, 228, 0.8) 30%, rgba(132, 41, 253, 0.507585) 70%, rgba(7, 0, 88, 0.91) 99.9%) no-repeat fixed center center;
    height: 100%;
    width: 100%;
    position: fixed;
}

.base{
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    background-color: #7A04EB;
    border: 10px solid rgb(73, 2, 131);
    border-radius: 5px;
    border-style: double;
    box-shadow: 5px 7px rgba(0, 0, 0, 0.358);
    padding: 10px;
    align-items: center;
    width: fit-content;
    max-width: 500px;
    height: fit-content;
    position: relative;
    justify-content: center;
    margin-left: 50px;
}

.planos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.starter{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: #7A04EB;
}