*{
    padding: 0px; 
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;

}

body{
    font-family: arial;
}

ul{
    list-style: none; 
}

img{

    width: 40px;
}

input[type= "checkbox"]{

    display: none;
}

nav
{
    background-color: rgba(16,16,16,.5);
    width: 350px;
    height: 100%;

}

a:hover{
    background-color: rgb(176,224,230);
    color: black; 
}

label{

    padding: 15px;
    position: absolute;
    z-index: 1;
}